.share-card-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.share-card-input {
    flex: 1;
    height: 44px;
    background: var(--color-bg-light);
    border: 1px solid var(--color-border);
    color: var(--color-text);
    padding-block: 0.75rem;
    font-family: inherit;
    font-size: var(--text-base);
    border-radius: 22px;
    text-align: center;
    outline: none;
}

.share-card-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    flex-shrink: 0;
}

.share-card-button.line-button {
    background: var(--color-line);
}

.share-card-button.line-button:hover {
    filter: brightness(0.85);
}

.share-card-button.share-button {
    > * {
        translate: -1px;
    }
}
